@use "../../styles/_global" as btn-global;

.as-btn {
  position: relative;
  display: inline-block;
  font-weight: btn-global.$btn-font-weight;
  line-height: btn-global.$btn-line-height;
  color: btn-global.$body-color;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  border: btn-global.$btn-border-width solid transparent;
  @include btn-global.button-size(
    btn-global.$btn-padding-y,
    btn-global.$btn-padding-x,
    btn-global.$btn-font-size,
    btn-global.$border-radius
  );
  box-shadow: btn-global.$btn-box-shadow;
  cursor: pointer;
  transition: btn-global.$btn-transition;
  &.disabled,
  &[disabled] {
    cursor: not-allowed;
    opacity: btn-global.$btn-disabled-opacity;
    box-shadow: none;
    > * {
      pointer-events: none;
    }
  }
}

.btn-lg {
  @include btn-global.button-size(
    btn-global.$btn-padding-y-lg,
    btn-global.$btn-padding-x-lg,
    btn-global.$btn-font-size-lg,
    btn-global.$btn-border-radius-lg
  );
}
.btn-sm {
  @include btn-global.button-size(
    btn-global.$btn-padding-y-sm,
    btn-global.$btn-padding-x-sm,
    btn-global.$btn-font-size-sm,
    btn-global.$btn-border-radius-sm
  );
}

.btn-primary {
  @include btn-global.button-style(btn-global.$primary, btn-global.$primary, btn-global.$white);
}
.btn-danger {
  @include btn-global.button-style(btn-global.$danger, btn-global.$danger, btn-global.$white);
}

.btn-default {
  @include btn-global.button-style(
    btn-global.$white,
    btn-global.$gray-400,
    btn-global.$body-color,
    btn-global.$white,
    btn-global.$primary,
    btn-global.$primary
  );
}

.btn-link {
  font-weight: btn-global.$font-weight-normal;
  color: btn-global.$btn-link-color;
  text-decoration: btn-global.$link-decoration;
  box-shadow: none;
  &:hover {
    color: btn-global.$btn-link-hover-color;
    text-decoration: btn-global.$link-hover-decoration;
  }
  &:focus,
  &.focus {
    text-decoration: btn-global.$link-hover-decoration;
    box-shadow: none;
  }
  &:disabled,
  &.disabled {
    color: btn-global.$btn-link-disabled-color;
    pointer-events: none;
  }
}
